<nav style="background-color: aqua;">
    <div class="container">
        <div class="row box-list">
            <ul class="d-flex list">
                <li routerLink="home" appNavDirettiva="yellow">Home</li>
                <li routerLink="main">Main</li>
                <li routerLink="directives">Directives</li>
                <li routerLink="pipe-functions">Pipe Functions</li>
                <li routerLink="sharing">Sharing Data</li>
                <li routerLink="var-template">Var Template</li>
                <li routerLink="contacts">Contatti</li>
                <li routerLink="route-parent">Rotte con Children & AuthGuard</li>
                <li routerLink="observables">Observables</li>
                <li routerLink="template-driven">Template Driven</li>
                <li routerLink="reactive-form">Reactive Form</li>
            </ul>
        </div>
    </div>
</nav>
